@font-face {
    font-family: lobster;
    src: url(../font/Lobster.otf);
}

@font-face {
    font-family: bellerose;
    src: url(../font/Bellerose.ttf);
}

@font-face {
    font-family: vanillawhale;
    src: url(../font/vanilla\ whale.ttf);
}

body{
    background-image: url(../images/4413558_92884.jpg);
    background-repeat: repeat;
    background-size: contain;
}

.griglia{
    background-position: center;
    display: flex;
    flex-direction: row;
}

.colonna{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.riga{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.centrale{
    flex: 8;
    align-items: center;
}

.titolo-sezione{
    color: grey;
    font-family: vanillawhale;
    font-size: 70px;
    font-weight: 100;
}

#logo{
    margin-bottom: 10%;
    width: 50%;
    margin-top: 10%;
}

.elemento{
    flex: 8;
}

.titolo{
    color: dark grey;
    font-family: bellerose;
    font-weight: 100;
    font-size: 50px;
    margin: 0;
}

.prezzo{
    flex: 2;
    align-items: flex-end;
}

.prezzo > h2{
    color: dark grey;
    font-family: bellerose;
    font-weight: 100;
    font-size: 50px;
    margin: 0;
}

.descrizione{
    color: grey;
    font-family: bellerose;
    font-weight: 100;
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 0;
    line-height: 110%;
}

.centrato{
    justify-content: center;
}

.titolo-menu{
    color: dark gold;
    font-family: vanillawhale;
    font-size: 200px;
    font-weight: 100;
}

.centrale .descrizione{
    line-height: initial;
}

.contorni{
    width: 100%;
}

.contorni > *{
    margin-top: -40px;
}
