@font-face {
    font-family: lobster;
    src: url(../font/Lobster.otf);
}

@font-face {
    font-family: bnt;
    src: url(../font/big_noodle_titling.ttf);
}

@font-face {
    font-family: bellerose;
    src: url(../font/Bellerose.ttf);
}

@font-face {
    font-family: vanillawhale;
    src: url(../font/vanilla\ whale.ttf);
}

body{
    background-image: url(../images/IMG_0007.JPG);
    background-repeat: repeat;
    background-size: contain;
}

.griglia{
    background-position: center;
    display: flex;
    flex-direction: row;
}

.colonna{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.riga{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.centrale{
    flex: 8;
    align-items: center;
}

.titolo-sezione{
    color: darkgoldenrod;
    font-family:vanillawhale;
    font-size: 80px;
    font-weight: 90;
}

#logo{
    margin-bottom: 45%;
    width: 99%;
    margin-top: 55%;
}

.elemento{
    flex: 8;
}

.titolo{
    color: black;
    font-family: bnt;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
}

.prezzo{
    flex: 2;
    align-items: flex-end;
}

.prezzo > h2{
    color: black;
    font-family: bnt;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
}

.descrizione{
    color: grey;
    font-family: bnt;
    font-weight: 100;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 110%;
}

.centrato{
    justify-content: center;
}

.titolo-menu{
    color: sienna;
    font-family: vanillawhale;
    font-size: 250px;
    font-weight: 120;
}

.centrale .descrizione{
    line-height: initial;
}

.contorni{
    width: 100%;
}

.contorni > *{
    margin-top: -40px;
}
